@keyframes wiggle {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 6px);
    }
    /* 50% {
        transform: translate(0px, 50px);
    } */
    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes wiggle-up {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, -6px);
    }
    /* 50% {
        transform: translate(0px, 50px);
    } */
    100% {
        transform: translate(0px, 0px);
    }
}

.wiggle {
    display: inline-block;
    animation: wiggle 2.5s 0s infinite;
}
.wiggle-up {
    display: inline-block;
    animation: wiggle-up 2.5s 0s infinite;
}

@keyframes rotate {
    50% {
        transform: rotate(-6deg);
    }
}
@keyframes rotate2 {
    50% {
        transform: rotate(6deg);
    }
}
.rotate {
    display: inline-block;
    animation: rotate 2s 0s infinite;
}

.rotate2 {
    display: inline-block;
    animation: rotate2 2s 0s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
.spin {
    display: inline-block;
    animation: 100s linear 0s infinite spin;
    -webkit-animation: 100s linear 0s infinite spin;
}
