body {
    background: #f2f6f9;
}
.w-100 {
    width: 100%;
    max-width: 410px;
}
.mb-30 {
    margin-bottom: 30px;
}

.hr-cover {
    width: 220px;
    height: 1px;
    opacity: 0.3;
    background: #fff;
}
.btn-inv {
    display: inline-flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 10px 16px 0px rgba(14, 21, 89, 0.16);
    cursor: pointer;
    border: 0;
}

.mt-6 {
    margin-top: 6px;
}
.mt-8 {
    margin-top: 8px;
}
.mt-136 {
    margin-top: 136px;
}
.dan {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.cover-container {
    width: 100%;
    min-width: 360px;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
    z-index: 99;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
}

.pt-80 {
    padding-top: 80px;
}
.close-alert {
    margin-top: 30px;
}
.diagonal-black {
    height: 100%;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
    background-color: rgb(0, 0, 0);
}

.initial {
    position: absolute;
    top: 108px;
    right: 199px;
}
.initialGroom {
    position: absolute;
    top: -1px;
    right: 0;
}
.slash {
    position: absolute;
    top: 12px;
    right: -4px;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
}
.initialBride {
    position: absolute;
    top: 20px;
    right: -13px;
}

.cover-or {
    position: absolute;
    top: 340px;
    right: 0px;
}
.or-mempelai {
    position: absolute;
    top: 38px;
    left: 0px;
    z-index: -1;
}
.or-mempelai2 {
    position: absolute;
    top: 516px;
    right: 0px;
    z-index: -1;
}
.form-linear:focus,
.form-select:focus {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.btn-maps {
    position: absolute;
    top: 344px;
    left: 68px;
    margin-bottom: 56px;
    margin-left: auto;
    margin-right: auto;
    /* width: fit-content; */
    border: none;
    display: flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: linear-gradient(93deg, #ffa34e -12.15%, #e87a15 101.78%);
    box-shadow: 0px 10px 16px 0px rgba(14, 21, 89, 0.16);
    cursor: pointer;
}
.cover-9 {
    margin-top: 375px;
}
.underline {
    padding-left: 6px;
    padding-right: 6px;
    border-bottom: rgba(17, 17, 17, 0.3) solid 1px;
}
.border-countdown {
    display: flex;
    width: 64px;
    height: 75px;
    padding: 16px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #e5e5e5;
}
.img-cover-9-1 {
    width: 100%;
    min-width: 395px;
    height: 490px;
    flex-shrink: 0;
    position: absolute;
    z-index: -2;
    top: 0px;
    object-fit: cover;
}
.img-cover-9-2 {
    width: 600px;
    height: 490px;
    flex-shrink: 0;
    position: absolute;
    top: 220px;
    left: -90px;
    z-index: -1;
    object-fit: cover;
    object-position: top right;
}
.relative {
    position: relative;
}
.img-border-9 {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url(<path-to-image>),
        lightgray -44.215px -71.975px / 130.461% 335.472% no-repeat, #d9d9d9;
    object-fit: cover;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.w-140 {
    width: 327px;
}

.video-header {
    text-align: center;
}

.tron-video {
    width: 343px;
    height: 220px;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
}

.tron-image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tron-image1 {
    width: 343px;
    height: 120px;
    object-fit: cover;
}

.tron-image-grup {
    width: 343px;
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.tron-image2 {
    width: 204px;
    height: 256px;
    flex-shrink: 0;
    object-fit: cover;
}

.item-image-2 {
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.tron-image3 {
    width: 123px;
    height: 120px;
    flex-shrink: 0;
    object-fit: cover;
}
.hidden {
    overflow: hidden;
}
.card-9 {
    width: 100%;

    display: flex;
    padding: 20px 12px;
    flex-direction: column;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
}
.gap-16 {
    gap: 16px;
}
.diagonal {
    width: 390px;
    height: 330px;
}

/* MAPS */
.boxtempat {
    border: 0px;
    width: 220px;
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: #050810;
    color: white;
    z-index: 1;
}
.pinbox {
    position: absolute;
    bottom: 80px;
    right: 80px;
}
.box-triangle {
    position: absolute;
    bottom: -4px;
    left: -20px;
    width: 40px;
    height: 40px;
    background: #06332d;
    border-radius: 4px;
    transform: rotate(45deg);
}
.pin {
    width: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    flex-shrink: 0;
    border-radius: 1000px;
    background: rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(2px);
}
.box-pinloc {
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 1000px;
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.maps {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    min-width: 310px;
    min-height: 310px;
}
.img-maps {
    width: 100%;
    height: 100%;
    min-width: 310px;
    min-height: 310px;
    border-radius: 4px;
    object-fit: cover;
    background: url(../../concept1i/png/mapsku.png);
}
