.text-green {
    color: #426720;
}
.mt-8 {
    margin-top: 8px;
}
.mt-32 {
    margin-top: 32px;
}
.mt-34 {
    margin-top: 34px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-44 {
    margin-top: 44px;
}
.mt-59 {
    margin-top: 59px;
}
.mt-180 {
    margin-top: 180px;
}

.ml-24 {
    margin-left: 24px;
}

.pt-40 {
    padding-top: 40px;
}
.pt-48 {
    padding-top: 48px;
}
.pb-48 {
    padding-bottom: 48px;
}
.pt-80 {
    padding-top: 80px;
}
.py-80 {
    padding: 80px 0px;
}

.py-48 {
    padding: 48px 0px;
}

.gap-16 {
    display: flex;
    gap: 16px;
}
.gap-24 {
    gap: 24px;
}

.w-100 {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.font-40 {
    font-size: 40px;
}
.font-48 {
    font-size: 48px;
}
.font-52 {
    font-size: 52px;
}
.font-80 {
    font-size: 80px;
}

.color-green {
    color: #426720;
}
/* COVER */
.cover-date {
    background: url("/public/concept1i/png/cover1i.png");
}
.box-275 {
    width: 275px;
    height: 260px;
    position: relative;
}
.box-277 {
    width: 277px;
    height: 106px;
}
.dan {
    position: absolute;
    right: 116px;
    top: 87px;
}
.btn-cover {
    display: inline-flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    border-radius: 6px;
    background: #426720;
    box-shadow: 0px 10px 50px 0px rgba(11, 18, 5, 0.2);
    cursor: pointer;
}
/* END COVER */

.bg-pastel {
    background: #f4f0ea;
}
.bg-green {
    background: #758462;
}
.relative {
    position: relative;
}
.img-orr {
    position: absolute;
}
.img-cover1i {
    display: flex;
    height: 195px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 300px;
    background: #e2eee0;
    object-fit: cover;
}
.img-mempelai1i {
    width: 152px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 300px;
}
.img-orl {
    position: absolute;
    left: 0px;
    top: -80px;
}
.img-orr {
    position: absolute;
    right: 0px;
    top: -80px;
}

/* Story */
.border-img-story {
    width: 64px;
    height: 64px;
    border-radius: 300px;
    padding: 12px;
    border: 2px dashed #426720;
}
.border-countdown {
    display: flex;
    width: 64px;
    height: 75px;
    padding: 16px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #426720;
}
.card-reseption {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 24px;
    background: #fff;
}
.box-yt {
    padding: 0px 24px;
    width: 100%;
    height: 220px;
    border-radius: 8px;
    border: 0px;
}
.box-img1i {
    display: flex;
    width: 322px;
    height: 314px;
    padding: 59px 61px 59.969px 61px;
    justify-content: center;
    align-items: center;
}
.box-ucapan1i {
    display: flex;
    padding: 20px 12px;
    flex-direction: column;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
}
.form-linear {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: white;
}
.form-select {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: white;
}
.form-linear:focus {
    border: 1px rgb(45, 26, 26) solid;
    outline: none;
}
.btn-submit1i {
    border: 0;
    display: flex;
    width: 327px;
    padding: 18px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #426720;
    cursor: pointer;
}
.imgbwh {
    position: absolute;
}
.maps {
    position: relative;
    width: 327px;
    height: 400px;
}
.boxtempat {
    border: 0px;
    width: 220px;
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: #050810;
    color: white;
    z-index: 1;
}
.pinbox {
    position: absolute;
    bottom: 64px;
    right: 100px;
}
.btn-maps {
    color: white;
    display: flex;
    width: 240px;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #426720;
    box-shadow: 0px 10px 50px 0px rgba(11, 18, 5, 0.2);
    text-decoration: none;
}
.sound {
    position: fixed;
    bottom: 32px;
    right: 24px;
    z-index: 100;
}
.hidden {
    overflow: hidden;
}
.cover-container {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    position: fixed;
    display: flex;
    /* left: 0; */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
    top: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
}
.img-story {
    width: 56px;
    height: 56px;
    border-radius: 300px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}
.box-triangle {
    position: absolute;
    bottom: 74px;
    width: 40px;
    height: 40px;
    background: #06332d;
    border-radius: 4px;
    transform: rotate(45deg);
}
.pin {
    width: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    flex-shrink: 0;
    border-radius: 1000px;
    background: rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(2px);
}
.box-pinloc {
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 1000px;
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
