.second-cover {
    margin-top: 109px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cover-left {
    margin-left: 16px;
}
.mt-8 {
    margin-top: 8px;
}

.hidden {
    width: 100vw;
    height: 100vh;
    position: absolute;
    /* left: 0; */
    top: 0;
    z-index: 99;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    visibility: hidden;
}

.cover-main-11 {
    display: flex;
    width: 343px;
    min-height: 385px;
    max-height: 529px;
    height: 100%;
    padding: 276px 16px 30px 16px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    border-radius: 24px;
    background: #ff8f27;
}
.cover-main-blue {
    width: 343px;
    height: 243px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #1399fb;
}

.btn-outer-cover {
    display: flex;
    padding: 6px 10px;
    align-items: flex-start;
    gap: 10px;
    background: none;
    color: white;
    border-radius: 1000px;
    border: 1px solid #fff;
    cursor: pointer;
}
.cover {
    background-color: #000;
    height: 100vh;
    padding-top: 16px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.cover-11 {
    display: flex;
    gap: 12px;
    margin: 0px 16px;
    margin-top: 24px;
}
.img-11 {
    width: 46px;
    height: 46px;
    object-fit: cover;
    border-radius: 46px;
}
.box-209 {
    width: 209px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box-orange {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 85px 25px 10px 16px;
    align-items: start;
    border-radius: 24px;
    background: #ff8f27;
    line-height: 1.1;
}
.box-border {
    width: 110px;
    height: 180px;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    display: flex;
    text-align: start;
    align-items: end;
    padding-bottom: 25px;
    gap: 8px;
}
.lineheight-11 {
    line-height: 1.1;
}
.hrblue {
    width: 6px;
    height: 80px;
    border: 1px solid #1399fb;
    background: #1399fb;
}
.hrcover {
    width: 203px;
    height: 1px;
    border: 1px solid #000;
    opacity: 0.4;
    margin-top: 10px;
    margin-bottom: 10px;
}
.img-cover-11 {
    min-width: 328px;
    width: 100%;
    height: 261px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 24px;
    object-fit: cover;
}
.br-24 {
    border-radius: 24px;
}
.w-343 {
    width: 343px;
}
.w-303 {
    width: 303px;
}

.box-11 {
    display: flex;
    padding: 18px 16.5px 10px 12px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 13.5px;
}
.border-24-black {
    border-radius: 24px;
    border: 1px solid #000;
    padding: 18px 16.5px 10px 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.person {
    display: flex;
    gap: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
}
.border-header11 {
    display: flex;
    height: 160px;
    padding: 53px 8px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    gap: 6px;
}
.w-327 {
    width: 327px;
}
.mt-6 {
    margin-top: 6px;
}
.mt-70 {
    margin-top: 70px;
}
.box-orange-2 {
    max-width: 343px;
    display: flex;
    padding: 20px 12px 30px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 109px;
    border-radius: 24px;
    background: #ff8f27;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
}
.box-blue-2 {
    max-width: 343px;
    display: flex;
    padding: 20px 12px 30px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 109px;
    border-radius: 24px;
    background: #1399fb;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
}
.a-border {
    display: flex;
    padding: 6px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 1000px;
    border: 1px solid #000;
    text-decoration: none;
    color: black;
}
.a-border-2 {
    display: flex;
    padding: 6px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 1000px;
    border: 1px solid #fff;
    text-decoration: none;
    color: white;
}
.box-header-orange {
    display: flex;
    height: 33px;
    justify-content: center;
    align-items: center;
    gap: 161px;
    margin-left: auto;
    margin-right: auto;
}
.title-place {
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 104.167% */
}
.img-mempelai-11 {
    display: flex;
    height: 180px;
    width: 110px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 24px;
    object-fit: cover;
}

.mempelaiputih {
    max-width: 227px;
    display: flex;
    flex-direction: column;
    padding: 20px 16px 69px 16px;
    border-radius: 24px;
    background: #fff;
}
.gap-6 {
    gap: 6px;
}
.space-border {
    width: 343px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.6);
}
.box-3 {
    width: 343px;
    max-height: 280px;
    min-height: 230px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    padding-left: 6px;
}
.bg-box-blue {
    background: #1399fb;
}
.bg-box-white {
    background: white;
}
.bg-box-orange {
    background: #ff8f27;
}

.border-box-11 {
    width: 343px;
    height: 651px;
    padding: 34px 24px;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.6);
}
.pl-16 {
    padding-left: 16px;
}
.border-last {
    display: flex;
    width: 110px;
    padding: 52px 17px 52.919px 18px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.6);
}
.mb-14 {
    margin-bottom: 14px;
}
.set-border11 {
    display: flex;
    width: 227px;
    padding: 45px 16px 16px 16px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 6.318px;
    border-radius: 24px;
}
.img-mempelai {
    border-radius: 24px;
}
.w-165 {
    width: 165px;
}
.formku {
    box-sizing: border-box;
    border: 1px solid rgba(39, 61, 120, 1);
    border-radius: 16px;
    width: 100%;
    padding: 15px 31px 15px 16px;
    background-color: #000;
    color: white;
}
.form-ucapan {
    display: flex;
}
.form-grup textarea {
    width: 295px;
    height: 106px;
    flex-shrink: 0;
}
.box-form {
    width: 295px;
    gap: 12px;
}
.form-grup label {
    margin-bottom: 6px;
    margin-left: 14px;
}
.btn-orange {
    display: flex;
    width: 295px;
    padding: 18px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #ff8f27;
    border: none;
    color: white;
}

.mb-30 {
    margin-bottom: 30px;
}
.mb-70 {
    margin-bottom: 70px;
}
