.mt-6 {
    margin-top: 6px;
}
.mt-8 {
    margin-top: 8px;
}
.mt-12 {
    margin-top: 12px;
}
.mt-52 {
    margin-top: 52px;
}
.mt-103 {
    margin-top: 103px;
}
.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.lh-140 {
    line-height: 140%;
    letter-spacing: -0.3px;
}
.btn-cover {
    display: inline-flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    border-radius: 6px;
    background: #e98e24;
    box-shadow: 0px 10px 50px 0px rgba(11, 18, 5, 0.2);
    cursor: pointer;
}

.nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 149px;
}
.mt-20 {
    margin-top: 20px;
}
.gap-20 {
    gap: 20px;
}
.ml-30 {
    margin-left: 30px;
}
.mb-63 {
    margin-bottom: 63px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-58 {
    padding-top: 58px;
}
.hamburger-line {
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    border: 1px solid rgba(59, 119, 156, 1);
    border-radius: 15px;
}
.cover-header {
    gap: 24px;
    justify-content: space-between;
    margin-top: 66px;
}
.cover-header-img {
    width: 145px;
    height: 180px;
    border-radius: 28px;
    background: url(<path-to-image>),
        lightgray -48.952px 0px / 186.207% 100% no-repeat, #27a1d6;
    object-fit: cover;
}
.btn-rsvp {
    width: 100%;
    max-width: 140px;
    height: 80px;
    padding: 16px;
    flex-shrink: 0;
    border-radius: 18px;
    border: 0.6px solid #3b779c;
    background: #3b779c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.img-cover-12 {
    width: 100%;
    max-width: 430px;
    max-height: 400px;
    flex-shrink: 0;
    object-fit: cover;
}
.img-or-cover {
    width: 32px;
    height: 32px;
}

.img-subheader {
    width: 62.5px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 0.6px solid #3b779c;
    background: #172d43;
}
.border-swipe-12 {
    display: inline-flex;
    padding: 20px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 58px;
    margin-bottom: 50px;
}
.surah {
    position: relative;
}
.ornament-quran {
    position: absolute;
    right: 0px;
    top: 24px;
}

.img-mempelai {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 8px;
    object-fit: cover;
}
.ringkasan-acara-box {
    width: 100%;
    line-height: 38.4px;
    letter-spacing: -0.3px;
}
.akad-box-12 {
    width: 315px;
    gap: 10px;
}
.hidden {
    width: 100vw;
    height: 100vh;
    position: absolute;
    /* left: 0; */
    top: 0;
    z-index: 99;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    visibility: hidden;
}
.message-box {
    padding-left: 0px;
    padding-right: 0px;
}
.box-message-looping:nth-child(2n) {
    justify-content: end;
    margin-top: 20px;
}

.box-message-looping:nth-child(2n) .bubble {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 12px 16px;
    align-items: flex-end;
    text-align: end;
    gap: 4px;
    background: #fff;
    max-width: 245px;
    min-width: 100px;
    border-radius: 16px 4px 16px 16px;
    -webkit-border-radius: 16px 4px 16px 16px;
    -moz-border-radius: 16px 4px 16px 16px;
    -ms-border-radius: 16px 4px 16px 16px;
    -o-border-radius: 16px 4px 16px 16px;
}
.bubble-title,
.bubble-isi {
    color: black;
}
.select-grup::after {
    content: url("../../assets/svg/toggle-select-white.svg");
    font-size: 1rem;
    top: 40px;
    right: 16px;
    position: absolute;
}
.form-linear {
    border: 1px rgba(39, 61, 120, 1) solid;
    background-color: rgba(15, 34, 54, 1);
    color: white;
}

.form-linear:focus {
    background-color: black;
    color: white;
    border: 1px rgba(39, 61, 120, 1) solid;
    outline: none;
}

.img-close12 {
    width: 90px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 14px;
    background: url(<path-to-image>),
        lightgray 0px -0.9px / 114.444% 137.333% no-repeat;
}

/* MAPS */

.boxtempat {
    border: 0px;
    width: 220px;
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: #050810;
    color: white;
    z-index: 1;
}
.pinbox {
    position: absolute;
    bottom: 80px;
    right: 80px;
}
.box-triangle {
    position: absolute;
    bottom: -4px;
    left: -20px;
    width: 40px;
    height: 40px;
    background: #06332d;
    border-radius: 4px;
    transform: rotate(45deg);
}
.pin {
    width: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    flex-shrink: 0;
    border-radius: 1000px;
    background: rgba(0, 0, 0, 0.13);
    backdrop-filter: blur(2px);
}
.box-pinloc {
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 1000px;
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.maps {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    min-width: 220px;
    min-height: 327px;
}
.img-maps {
    width: 100%;
    height: 100%;
    min-width: 310px;
    min-height: 310px;
    border-radius: 4px;
    object-fit: cover;
    background: url(../../concept1i/png/mapsku.png);
}
.relative {
    position: relative;
}
