@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@400;500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Birthstone Bounce", cursive, "Poppins", sans-serif; */
    /* font-family: ; */
    text-decoration: none;
}
body {
    display: flex;
    justify-content: center;
}
.cover-date {
    position: relative;
    width: 360px;
    height: 100vh;
    min-height: 812px;
    flex-shrink: 0;
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.25) inset;
}

.main-container {
    width: 100%;
    min-width: 360px;
    max-width: 430px;
    overflow-x: hidden;
    padding-top: 0;
}
.cover-padding {
    padding-top: 139px;
}
.cover-padding-60 {
    padding-top: 60px;
}

.img-cover {
    position: absolute;
    left: 22px;
    top: 16px;
}

.display-center {
    display: flex;
    justify-content: center;
}
.justify-right {
    display: flex;
    justify-content: right;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: end;
}
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

.spacebetween {
    justify-content: space-between;
}

.light-red {
    background: radial-gradient(
            56.52% 56.67% at 50.13% 50%,
            #bb2123 0%,
            rgba(187, 33, 35, 0) 100%
        ),
        #831e1f;
}
.dark-red {
    background: #3d161a;
}
.slate-800 {
    background: #050810;
}
.bg-white {
    background: #fff;
}
.blue-800 {
    background: #0f2236;
}
.slate-900 {
    background: black;
}
.color-linear {
    background: -webkit-linear-gradient(275deg, #ffe5a8, #e8b439, #d8a217);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.color-linear-v2 {
    background: -webkit-linear-gradient(
        275deg,
        rgba(255, 230, 142, 1),
        rgba(216, 162, 23, 1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-white {
    color: #fff;
}
.color-white-rgb {
    color: rgba(255, 255, 255, 1);
}
.color-secondary {
    color: #fdce5f;
}
.color-opacity {
    opacity: 0.7;
}
.color-orange {
    color: #e1931e;
}
.color-black {
    color: #050810;
}
.color-grey {
    color: #7b7b7b;
}
.color-555 {
    background: #555;
}

/* Font nih bos */
.xsmall {
    font-weight: 275;
}
.small {
    font-weight: 300;
}
.regular {
    font-weight: 400;
}
.medium {
    font-weight: 500;
}
.large {
    font-weight: 600;
}
.xlarge {
    font-weight: 700;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-italic {
    font-style: italic;
}
.text-underline {
    text-decoration-line: underline;
}

.lineletter {
    line-height: 120%; /* 50.4px */
    letter-spacing: -0.3px;
}
.lineletter-160 {
    line-height: 160%; /* 50.4px */
}

.married-pop {
    font-family: "Poppins";
    font-style: normal;
    line-height: normal;
}
.married-birth {
    font-family: Birthstone Bounce;
    font-style: normal;
    line-height: normal;
}
.married-great {
    font-family: "Great Vibes", cursive;
}
.married-jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    line-height: normal;
}
.married-playfair {
    font-family: "Playfair Display", serif;
}

/* Menentukan properti-properti khusus untuk tiap ukuran teks */
.font-10 {
    font-size: 10px;
}
.font-11 {
    font-size: 11px;
}
.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}
.font-26 {
    font-size: 26px;
}

.font-28 {
    font-size: 28px;
}
.font-30 {
    font-size: 30px;
}
.font-32 {
    font-size: 32px;
}
.font-36 {
    font-size: 36px;
}
.font-42 {
    font-size: 42px;
}
.font-46 {
    font-size: 46px;
}

.font-52 {
    font-size: 52px;
}
.font-56 {
    font-size: 56px;
}
.font-60 {
    font-size: 60px;
}
.font-72 {
    font-size: 72px;
}
.font-86 {
    font-size: 80px;
}
.font-100 {
    font-size: 100px;
}

.married-56-rouge {
    text-align: center;
    font-family: Rouge Script;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gap-6 {
    gap: 6px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-12 {
    margin-top: 12px;
}
.mt-16 {
    margin-top: 16px;
}
.mt-18 {
    margin-top: 18px;
}
.mt-24 {
    margin-top: 24px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-31 {
    margin-top: 31px;
}
.mt-32 {
    margin-top: 32px;
}
.mt-36 {
    margin-top: 36px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-42 {
    margin-top: 42px;
}
.mt-48 {
    margin-top: 48px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-97 {
    margin-top: 97px;
}
.mt-120 {
    margin-top: 120px;
}
.mb-38 {
    margin-bottom: 38px;
}

.pt-30 {
    padding-top: 30px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-60 {
    padding-top: 60px;
}
.pt-91 {
    padding-top: 91px;
}
.pt-105 {
    padding-top: 105px;
}
.pt-114 {
    padding-top: 114px;
}
.pt-134 {
    padding-top: 134px;
}
.pr-20 {
    padding-right: 20px;
}

.pb-32 {
    padding-bottom: 32px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pb-60 {
    padding-bottom: 60px;
}
.pb-120 {
    padding-bottom: 120px;
}
.pb-136 {
    padding-bottom: 136px;
}
.py-40 {
    padding: 40px 0px;
}
.p16 {
    padding: 16px;
}

.scope-24 {
    padding: 0px 24px;
}
.scope-30 {
    padding: 0px 30px;
}

.mlr-auto {
    margin-left: auto;
    margin-right: auto;
}

.name-box-single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* ringkasan acara  */
.img-radius {
    border-radius: 4px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.img-160 {
    width: 327px;
    height: 160px;
    object-fit: cover;
}
.img-240 {
    width: 327px;
    height: 240px;
}
.img-230 {
    width: 327px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.akad-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 16px;
    width: 327px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

/* Our Story Section */

.ourstory-header-box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.item-text {
    width: 279px;
}

/* Message */

.bubble {
    display: inline-flex;
    padding: 12px 16px;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    background: white;
    border-radius: 4px 16px 16px 16px;
    margin-top: 20px;
    -webkit-border-radius: 4px 16px 16px 16px;
    -moz-border-radius: 4px 16px 16px 16px;
    -ms-border-radius: 4px 16px 16px 16px;
    -o-border-radius: 4px 16px 16px 16px;
}
.bubble-right {
    position: relative;
    right: -166px;
    padding: 12px 16px;
    align-items: flex-end;
    text-align: end;
    gap: 4px;
    border-radius: 16px 4px 16px 16px;
    background: #fff;
    margin-top: 20px;
    margin-right: 18px;
    max-width: 194px;
}
.bubble-title {
    color: #10288a;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 161.538% */
    letter-spacing: -0.3px;
}
.bubble-isi {
    max-width: 275px;
    color: #10288a;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 161.538% */
    letter-spacing: -0.3px;
}

.ucapan {
    margin-top: 54px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.form-linear {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */

    width: 100%;
    padding: 15px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    background: #fff;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);

    outline: none;
}
.form-select {
    position: relative;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */

    width: 100%;
    padding: 15px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    background: #fff;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
    outline: none;
}
select {
    -webkit-appearance: none;
    appearance: none;
}

.form-grup {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    gap: 4px;
}
.select-grup {
    position: relative;
}
.select-grup::after {
    content: url("../../assets/svg/toggle-select.svg");
    font-size: 1rem;
    top: 40px;
    right: 16px;
    position: absolute;
}
.form-grup label {
    padding: 0px 12px;
}
.form-grup-col {
    display: flex;
    gap: 17px;
}
.box-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 12px;
}

.btn-add {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border: none;
    color: #871e1f;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    display: flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: linear-gradient(
            110deg,
            #ffe5a8 -12.7%,
            #ca920e 94.32%,
            #e8b439 94.32%
        ),
        #fff;
    box-shadow: 0px 10px 16px 0px rgba(14, 21, 89, 0.16);
}
.btn-add-white {
    margin-top: 24px;
    margin-bottom: 56px;
    margin-left: auto;
    margin-right: auto;
    /* width: fit-content; */
    border: none;
    display: flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 10px 16px 0px rgba(14, 21, 89, 0.16);
}
.btn-submit {
    display: flex;
    width: 100%;
    padding: 18px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0px;
    border-radius: 8px;
    background: #e1931e;
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 32px;
    margin-bottom: 34px;
}

.payment-header {
    margin-top: 30px;
    width: 327px;
    margin-right: auto;
    margin-left: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.payment-header p {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-payment {
    display: flex;
    gap: 10px;
    margin-top: 32px;
}
.img-payment-box {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #3d161a;
}
.img-payment-box a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 6px;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.qr-code-box {
    width: 280px;
    height: 360px;
    border-radius: 40px;
    background: #fff;
    margin-top: 36px;
    margin-bottom: 112px;
    display: inline-block;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.qr-code-box p {
    margin-bottom: 20px;
}
.img-qr {
    margin-top: 40px;
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
    object-fit: cover;
}

.box-327 {
    width: 327px;
}

.name-close {
    margin-top: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-left: auto;
    margin-right: auto;
}

.hr {
    width: 40px;
    border: 1px solid black;
    background: black;
}
.hr-linear {
    width: 40px;
    border: 1px solid transparent;
    background: linear-gradient(45deg, #ffe68e, #d8a217) border-box; /*3*/
    -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; /*5'*/
    mask-composite: exclude; /*5*/
}

.hr-white {
    width: 40px;
    border: 1px solid white;
    background: white;
}

.close-alert {
    color: #fff;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 45px;
    margin-bottom: 16px;
    text-align: center;
}

.close-item {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.close-item-left {
    display: flex;
    gap: 10px;
    justify-content: start;
}

.img-ellipse-36 {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10000px;
    border: 0.6px solid #ffe68e;
}
.img-ellipse-36-normal {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10000px;
    border: 0.6px solid black;
}
.img-ellipse-36-white {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10000px;
    border: 0.6px solid white;
}

.close-last {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

.img-last {
    display: flex;
    gap: 4px;
    justify-content: center;
}
.img-last-left {
    display: flex;
    gap: 4px;
    justify-content: start;
}

.img-mempelai {
    width: 110px;
    flex-shrink: 0;
    border-radius: 8px;
    object-fit: cover;
}
.img-glimpse {
    display: inline-flex;
    width: 315px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    object-fit: cover;
}

.bubble-scrollx {
    display: inline-flex;
    width: 315px;
    height: 218px;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
}
.w-168 {
    width: 168px;
}
.w-230 {
    width: 230px;
}
.w-239 {
    width: 239px;
}
.w-275 {
    width: 275px;
}
.w-327 {
    width: 327px;
}
.w-303 {
    width: 303px;
}
.w-318 {
    width: 318px;
}
.w-315 {
    width: 315px;
}
.sliderlabel {
    position: relative;
    overflow: scroll;
}
.slider > img {
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
}
.slider input[name="ani"] {
    display: none;
}

.slider label {
    margin: 600px 0 0 18px;
    /* border: 3px solid #999; */
    float: left;
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0.6;
}
.slider label img {
    display: block;
}
.slider input[name="ani"]:checked + label {
    opacity: 1;
}
.slider input[name="ani"] ~ img {
    opacity: 0;
    transform: scale(1.1);
}
.slider input[name="ani"]:checked + label + img {
    opacity: 1;
    transform: scale(1);
}
.img-gallery {
    min-height: 580px;
    object-position: center;
    object-fit: none;
}

.swiper {
    width: 100%;
    /* border: 1px solid red; */
}
.swiper img {
    width: 100%;
}
.jarak {
    display: flex;
    gap: 8px;
}

.swiper_thumbnail .swiper-slide {
    cursor: pointer;
    opacity: 0.1;
    height: 100%;
}
.swiper_thumbnail .swiper-slide-thumb-active {
    opacity: 1;
}
.swiper_thumbnail img {
    vertical-align: bottom;
    width: 72px;
    height: 72px;
    border-radius: 4px;
    object-fit: cover;
}

.suara {
    bottom: 10px;
    right: 10px;
    position: fixed;
}

.wrapper {
    display: grid;
    place-items: center;
    overflow: hidden;
    max-height: 812px;
}
.swiper_thumbnail {
    margin-top: 10px;
    width: 100%;
    max-width: 406px;
    padding: 0px 24px;
}
.swiper-button-next,
.swiper-button-prev {
    visibility: hidden;
}
